Repository tupe12334/react-awesome-query-builder-radix-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(ci): add pnpm-lock.yaml to repository for CI/CD
  .gitignore
  pnpm-lock.yaml
Due: none

chore(release): bump version to 0.1.1
  package.json
Due: prettier --write, cspell lint --no-must-find-files

feat(example): add GitHub Pages deployment
  .github/workflows/deploy-pages.yml
  example/vite.config.js
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix: update package name to unscoped throughout codebase
  CHANGELOG.md
  README.md
  eslint.config.mjs
  example/App.jsx
  example/package.json
  example/vite.config.js
  modules/index.d.ts
  modules/index.jsx
  pnpm-lock.yaml
  scripts/build-npm.js
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

docs(readme): fix author name in license section
  README.md
Due: prettier --write, cspell lint --no-must-find-files

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md})
  cspell lint --no-must-find-files: any of: *.{ts,tsx,js,jsx,md,json}
